/*
Error: Undefined variable: "$grid-max-width".
        on line 2 of sass/_grid.scss
        from line 4 of sass/koan-no-vars.scss

1: @import 'debug';
2: @import 'reset';
3: @import 'mixins';
4: @import 'grid';
5: @import 'display';
6: @import 'position';
7: @import 'flex';

Backtrace:
sass/_grid.scss:2
sass/koan-no-vars.scss:4
/Users/adam/.rvm/gems/ruby-2.4.1/gems/sass-3.7.3/lib/sass/script/tree/variable.rb:49:in `_perform'
/Users/adam/.rvm/gems/ruby-2.4.1/gems/sass-3.7.3/lib/sass/script/tree/node.rb:50:in `perform'
/Users/adam/.rvm/gems/ruby-2.4.1/gems/sass-3.7.3/lib/sass/tree/visitors/perform.rb:398:in `visit_prop'
/Users/adam/.rvm/gems/ruby-2.4.1/gems/sass-3.7.3/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/adam/.rvm/gems/ruby-2.4.1/gems/sass-3.7.3/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/adam/.rvm/gems/ruby-2.4.1/gems/sass-3.7.3/lib/sass/stack.rb:79:in `block in with_base'
/Users/adam/.rvm/gems/ruby-2.4.1/gems/sass-3.7.3/lib/sass/stack.rb:135:in `with_frame'
/Users/adam/.rvm/gems/ruby-2.4.1/gems/sass-3.7.3/lib/sass/stack.rb:79:in `with_base'
/Users/adam/.rvm/gems/ruby-2.4.1/gems/sass-3.7.3/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/adam/.rvm/gems/ruby-2.4.1/gems/sass-3.7.3/lib/sass/tree/visitors/perform.rb:440:in `block (2 levels) in visit_rule'
/Users/adam/.rvm/gems/ruby-2.4.1/gems/sass-3.7.3/lib/sass/tree/visitors/perform.rb:440:in `map'
/Users/adam/.rvm/gems/ruby-2.4.1/gems/sass-3.7.3/lib/sass/tree/visitors/perform.rb:440:in `block in visit_rule'
/Users/adam/.rvm/gems/ruby-2.4.1/gems/sass-3.7.3/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Users/adam/.rvm/gems/ruby-2.4.1/gems/sass-3.7.3/lib/sass/tree/visitors/perform.rb:438:in `visit_rule'
/Users/adam/.rvm/gems/ruby-2.4.1/gems/sass-3.7.3/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/adam/.rvm/gems/ruby-2.4.1/gems/sass-3.7.3/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/adam/.rvm/gems/ruby-2.4.1/gems/sass-3.7.3/lib/sass/stack.rb:79:in `block in with_base'
/Users/adam/.rvm/gems/ruby-2.4.1/gems/sass-3.7.3/lib/sass/stack.rb:135:in `with_frame'
/Users/adam/.rvm/gems/ruby-2.4.1/gems/sass-3.7.3/lib/sass/stack.rb:79:in `with_base'
/Users/adam/.rvm/gems/ruby-2.4.1/gems/sass-3.7.3/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/adam/.rvm/gems/ruby-2.4.1/gems/sass-3.7.3/lib/sass/tree/visitors/perform.rb:325:in `block (2 levels) in visit_import'
/Users/adam/.rvm/gems/ruby-2.4.1/gems/sass-3.7.3/lib/sass/tree/visitors/perform.rb:325:in `map'
/Users/adam/.rvm/gems/ruby-2.4.1/gems/sass-3.7.3/lib/sass/tree/visitors/perform.rb:325:in `block in visit_import'
/Users/adam/.rvm/gems/ruby-2.4.1/gems/sass-3.7.3/lib/sass/stack.rb:88:in `block in with_import'
/Users/adam/.rvm/gems/ruby-2.4.1/gems/sass-3.7.3/lib/sass/stack.rb:135:in `with_frame'
/Users/adam/.rvm/gems/ruby-2.4.1/gems/sass-3.7.3/lib/sass/stack.rb:88:in `with_import'
/Users/adam/.rvm/gems/ruby-2.4.1/gems/sass-3.7.3/lib/sass/tree/visitors/perform.rb:322:in `visit_import'
/Users/adam/.rvm/gems/ruby-2.4.1/gems/sass-3.7.3/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/adam/.rvm/gems/ruby-2.4.1/gems/sass-3.7.3/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/adam/.rvm/gems/ruby-2.4.1/gems/sass-3.7.3/lib/sass/stack.rb:79:in `block in with_base'
/Users/adam/.rvm/gems/ruby-2.4.1/gems/sass-3.7.3/lib/sass/stack.rb:135:in `with_frame'
/Users/adam/.rvm/gems/ruby-2.4.1/gems/sass-3.7.3/lib/sass/stack.rb:79:in `with_base'
/Users/adam/.rvm/gems/ruby-2.4.1/gems/sass-3.7.3/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/adam/.rvm/gems/ruby-2.4.1/gems/sass-3.7.3/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/adam/.rvm/gems/ruby-2.4.1/gems/sass-3.7.3/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/adam/.rvm/gems/ruby-2.4.1/gems/sass-3.7.3/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/adam/.rvm/gems/ruby-2.4.1/gems/sass-3.7.3/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
/Users/adam/.rvm/gems/ruby-2.4.1/gems/sass-3.7.3/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Users/adam/.rvm/gems/ruby-2.4.1/gems/sass-3.7.3/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
/Users/adam/.rvm/gems/ruby-2.4.1/gems/sass-3.7.3/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/adam/.rvm/gems/ruby-2.4.1/gems/sass-3.7.3/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
/Users/adam/.rvm/gems/ruby-2.4.1/gems/sass-3.7.3/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/adam/.rvm/gems/ruby-2.4.1/gems/sass-3.7.3/lib/sass/tree/visitors/perform.rb:157:in `visit'
/Users/adam/.rvm/gems/ruby-2.4.1/gems/sass-3.7.3/lib/sass/tree/visitors/perform.rb:10:in `visit'
/Users/adam/.rvm/gems/ruby-2.4.1/gems/sass-3.7.3/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/adam/.rvm/gems/ruby-2.4.1/gems/sass-3.7.3/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/Users/adam/.rvm/gems/ruby-2.4.1/gems/sass-3.7.3/lib/sass/engine.rb:389:in `_render_with_sourcemap'
/Users/adam/.rvm/gems/ruby-2.4.1/gems/sass-3.7.3/lib/sass/engine.rb:307:in `render_with_sourcemap'
/Users/adam/.rvm/gems/ruby-2.4.1/gems/sass-3.7.3/lib/sass/plugin/compiler.rb:462:in `update_stylesheet'
/Users/adam/.rvm/gems/ruby-2.4.1/gems/sass-3.7.3/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/adam/.rvm/gems/ruby-2.4.1/gems/sass-3.7.3/lib/sass/plugin/compiler.rb:209:in `each'
/Users/adam/.rvm/gems/ruby-2.4.1/gems/sass-3.7.3/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/adam/.rvm/gems/ruby-2.4.1/gems/sass-3.7.3/lib/sass/plugin/compiler.rb:443:in `on_file_changed'
/Users/adam/.rvm/gems/ruby-2.4.1/gems/sass-3.7.3/lib/sass/plugin/compiler.rb:320:in `block in watch'
/Users/adam/.rvm/gems/ruby-2.4.1@global/gems/sass-listen-4.0.0/lib/sass-listen/event/config.rb:23:in `call'
/Users/adam/.rvm/gems/ruby-2.4.1@global/gems/sass-listen-4.0.0/lib/sass-listen/event/processor.rb:115:in `_process_changes'
/Users/adam/.rvm/gems/ruby-2.4.1@global/gems/sass-listen-4.0.0/lib/sass-listen/event/processor.rb:19:in `block in loop_for'
/Users/adam/.rvm/gems/ruby-2.4.1@global/gems/sass-listen-4.0.0/lib/sass-listen/event/processor.rb:15:in `loop'
/Users/adam/.rvm/gems/ruby-2.4.1@global/gems/sass-listen-4.0.0/lib/sass-listen/event/processor.rb:15:in `loop_for'
/Users/adam/.rvm/gems/ruby-2.4.1@global/gems/sass-listen-4.0.0/lib/sass-listen/event/loop.rb:84:in `_wait_for_changes'
/Users/adam/.rvm/gems/ruby-2.4.1@global/gems/sass-listen-4.0.0/lib/sass-listen/event/loop.rb:42:in `block in setup'
/Users/adam/.rvm/gems/ruby-2.4.1@global/gems/sass-listen-4.0.0/lib/sass-listen/internals/thread_pool.rb:6:in `block in add'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Undefined variable: \"$grid-max-width\".\A         on line 2 of sass/_grid.scss\A         from line 4 of sass/koan-no-vars.scss\A \A 1: @import 'debug';\A 2: @import 'reset';\A 3: @import 'mixins';\A 4: @import 'grid';\A 5: @import 'display';\A 6: @import 'position';\A 7: @import 'flex';"; }
