$border-styles: (
  'n': none,
  'h': hidden,
  'd': dotted,
  'da': dashed,
  's': solid,
  'do': double,
  'g': groove,
  'r': ridge,
  'i': initial
);

@each $name, $value in $border-styles {
  .bs-#{$name} {
    border-style: $value
  }
}

$border-sizes: (
  '1': 1px,
  '2': 2px,
  '3': 3px,
  '4': 4px,
  '5': 5px,
  '6': 6px,
  '7': 7px,
  '8': 8px,
  '9': 9px,
  '10': 10px
);

@each $name, $value in $border-sizes {
  .bw-#{$name} {
    border-width: $value
  }

  .btw-#{$name} {
    border-top-width: $value
  }

  .bbw-#{$name} {
    border-bottom-width: $value
  }

  .blw-#{$name} {
    border-left-width: $value
  }

  .brw-#{$name} {
    border-right-width: $value
  }
}

// $colors is referenced from sass/_variables.scss
@each $name, $value in $colors {
  // bdrc instead of bc to prevent conflicts with background-color
  .bdrc-#{$name} {
    border-color: $value
  }
}