$displays: (
  'i': inline,
  'b': block,
  'g': grid,
  'ib': inline-block,
  't': table,
  'tc': table-cell,
  'n': none
);

@each $name, $value in $displays {
  .d-#{$name} {
    display: $value;
  }

  @include breakpoint-sm {
    .d-sm-#{$name} {
      display: $value !important;
    }
  }

  @include breakpoint-md {
    .d-md-#{$name} {
      display: $value !important;
    }
  }

  @include breakpoint-lg {
    .d-lg-#{$name} {
      display: $value !important;
    }
  }
}

// Flex specific styles, with vendor prefixes

.d-f {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@include breakpoint-sm {
  .d-sm-f {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
  }
}

@include breakpoint-md {
  .d-md-f {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
  }
}

@include breakpoint-lg {
  .d-lg-f {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
  }
}
