$flex-wraps: (
  'w': wrap,
  'nw': nowrap,
  'wr': wrap-reverse,
  'i': initial
);

@each $name, $value in $flex-wraps {
  .fw-#{$name} {
    flex-wrap: $value;
  }
}

$justify-content: (
  'fs': flex-start,
  'fe': flex-end,
  'c': center,
  'sb': space-between,
  'sa': space-around,
  'i': initial
);

@each $name, $value in $justify-content {
  .jc-#{$name} {
    justify-content: $value;
  }
}

$align-items: (
  's': stretch,
  'c': center,
  'fs': flex-start,
  'fe': flex-end,
  'b': baseline,
  'i': initial
);

@each $name, $value in $align-items {
  .ai-#{$name} {
    align-items: $value;
  }
}

$flex-directions: (
  'r': row,
  'rr': row-reverse,
  'c': column,
  'cr': column-reverse,
  'i': initial
);

@each $name, $value in $flex-directions {
  .fd-#{$name} {
    flex-direction: $value;
  }
}