.container {
  max-width: $grid-max-width;
  margin: 0 auto;
  padding: 0rem $grid-gutter;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -$grid-gutter / 2;
  margin-right: -$grid-gutter / 2;
}

// Columns

.col {
  flex-grow: 1;
  padding: 0rem $grid-gutter / 2;
}

@for $i from 1 through $grid-columns {
  .col-#{$i} {
    width: 100% / $grid-columns * $i;
    padding: 0rem $grid-gutter / 2;
  }
}

@for $i from 1 through $grid-columns {
  @include breakpoint-sm {
    .col-sm-#{$i} {
      width: 100% / $grid-columns * $i;
      padding: 0rem $grid-gutter / 2;
    }
  }
}

@for $i from 1 through $grid-columns {
  @include breakpoint-md {
    .col-md-#{$i} {
      width: 100% / $grid-columns * $i;
      padding: 0rem $grid-gutter / 2;
    }
  }
}

@for $i from 1 through $grid-columns {
  @include breakpoint-lg {
    .col-lg-#{$i} {
      width: 100% / $grid-columns * $i;
      padding: 0rem $grid-gutter / 2;
    }
  }
}

// Push and Pull

@for $i from 1 through $grid-columns {
  .push-#{$i} {
    position: relative;
    left: 100% / $grid-columns * $i;
  }
}

@for $i from 1 through $grid-columns {
  @include breakpoint-sm {
    .push-sm-#{$i} {
      position: relative;
      left: 100% / $grid-columns * $i;
    }
  }
}

@for $i from 1 through $grid-columns {
  @include breakpoint-md {
    .push-md-#{$i} {
      position: relative;
      left: 100% / $grid-columns * $i;
    }
  }
}

@for $i from 1 through $grid-columns {
  @include breakpoint-lg {
    .push-lg-#{$i} {
      position: relative;
      left: 100% / $grid-columns * $i;
    }
  }
}

@for $i from 1 through $grid-columns {
  .pull-#{$i} {
    position: relative;
    right: 100% / $grid-columns * $i;
  }
}

@for $i from 1 through $grid-columns {
  @include breakpoint-sm {
    .pull-sm-#{$i} {
      position: relative;
      right: 100% / $grid-columns * $i;
    }
  }
}

@for $i from 1 through $grid-columns {
  @include breakpoint-md {
    .pull-md-#{$i} {
      position: relative;
      right: 100% / $grid-columns * $i;
    }
  }
}

@for $i from 1 through $grid-columns {
  @include breakpoint-lg {
    .pull-lg-#{$i} {
      position: relative;
      right: 100% / $grid-columns * $i;
    }
  }
}
