$spacing: (
  '0': 0rem,
  '025': 0.25rem,
  '05': 0.5rem,
  '075': 0.75rem,
  '1': 1rem,
  '2': 2rem,
  '3': 3rem,
  '4': 4rem,
  '5': 5rem,
  '6': 6rem,
  '7': 7rem,
  '8': 8rem
);

@each $name, $value in $spacing {
  .m-#{$name} {
    margin: $value;
  }

  .mt-#{$name} {
    margin-top: $value;
  }

  .mb-#{$name} {
    margin-bottom: $value;
  }

  .ml-#{$name} {
    margin-left: $value;
  }

  .mr-#{$name} {
    margin-right: $value;
  }

  .mx-#{$name} {
    margin-left: $value;
    margin-right: $value;
  }

  .my-#{$name} {
    margin-top: $value;
    margin-bottom: $value;
  }

  @include breakpoint-sm {

    .m-sm-#{$name} {
      margin: $value!important;
    }
  
    .mt-sm-#{$name} {
      margin-top: $value!important;
    }
  
    .mb-sm-#{$name} {
      margin-bottom: $value!important;
    }
  
    .ml-sm-#{$name} {
      margin-left: $value!important;
    }
  
    .mr-sm-#{$name} {
      margin-right: $value!important;
    }
  
    .mx-sm-#{$name} {
      margin-left: $value!important;
      margin-right: $value!important;
    }
  
    .my-sm-#{$name} {
      margin-top: $value!important;
      margin-bottom: $value!important;
    }

  }

  @include breakpoint-md {

    .m-md-#{$name} {
      margin: $value!important;
    }
  
    .mt-md-#{$name} {
      margin-top: $value!important;
    }
  
    .mb-md-#{$name} {
      margin-bottom: $value!important;
    }
  
    .ml-md-#{$name} {
      margin-left: $value!important;
    }
  
    .mr-md-#{$name} {
      margin-right: $value!important;
    }
  
    .mx-md-#{$name} {
      margin-left: $value!important;
      margin-right: $value!important;
    }
  
    .my-md-#{$name} {
      margin-top: $value!important;
      margin-bottom: $value!important;
    }

  }

  @include breakpoint-lg {

    .m-lg-#{$name} {
      margin: $value!important;
    }
  
    .mt-lg-#{$name} {
      margin-top: $value!important;
    }
  
    .mb-lg-#{$name} {
      margin-bottom: $value!important;
    }
  
    .ml-lg-#{$name} {
      margin-left: $value!important;
    }
  
    .mr-lg-#{$name} {
      margin-right: $value!important;
    }
  
    .mx-lg-#{$name} {
      margin-left: $value!important;
      margin-right: $value!important;
    }
  
    .my-lg-#{$name} {
      margin-top: $value!important;
      margin-bottom: $value!important;
    }

  }
}

@each $name, $value in $spacing {
  .p-#{$name} {
    padding: $value;
  }

  .pt-#{$name} {
    padding-top: $value;
  }

  .pb-#{$name} {
    padding-bottom: $value;
  }

  .pl-#{$name} {
    padding-left: $value;
  }

  .pr-#{$name} {
    padding-right: $value;
  }

  .px-#{$name} {
    padding-left: $value;
    padding-right: $value;
  }

  .py-#{$name} {
    padding-top: $value;
    padding-bottom: $value;
  }

  @include breakpoint-sm {

    .p-sm-#{$name} {
      padding: $value!important;
    }
  
    .pt-sm-#{$name} {
      padding-top: $value!important;
    }
  
    .pb-sm-#{$name} {
      padding-bottom: $value!important;
    }
  
    .pl-sm-#{$name} {
      padding-left: $value!important;
    }
  
    .pr-sm-#{$name} {
      padding-right: $value!important;
    }
  
    .px-sm-#{$name} {
      padding-left: $value!important;
      padding-right: $value!important;
    }
  
    .py-sm-#{$name} {
      padding-top: $value!important;
      padding-bottom: $value!important;
    }

  }

  @include breakpoint-md {

    .p-md-#{$name} {
      padding: $value!important;
    }
  
    .pt-md-#{$name} {
      padding-top: $value!important;
    }
  
    .pb-md-#{$name} {
      padding-bottom: $value!important;
    }
  
    .pl-md-#{$name} {
      padding-left: $value!important;
    }
  
    .pr-md-#{$name} {
      padding-right: $value!important;
    }
  
    .px-md-#{$name} {
      padding-left: $value!important;
      padding-right: $value!important;
    }
  
    .py-md-#{$name} {
      padding-top: $value!important;
      padding-bottom: $value!important;
    }

  }

  @include breakpoint-lg {

    .p-lg-#{$name} {
      padding: $value!important;
    }
  
    .pt-lg-#{$name} {
      padding-top: $value!important;
    }
  
    .pb-lg-#{$name} {
      padding-bottom: $value!important;
    }
  
    .pl-lg-#{$name} {
      padding-left: $value!important;
    }
  
    .pr-lg-#{$name} {
      padding-right: $value!important;
    }
  
    .px-lg-#{$name} {
      padding-left: $value!important;
      padding-right: $value!important;
    }
  
    .py-lg-#{$name} {
      padding-top: $value!important;
      padding-bottom: $value!important;
    }

  }

}