// Breakpoints
$breakpoint-sm: 500px;
$breakpoint-md: 700px;
$breakpoint-lg: 1000px;

// Grid
$grid-max-width: 1200px;
$grid-gutter: 1.5rem;
$grid-columns: 12;

// Box Shadow
$box-shadow: 0 2px 4px rgba(0,0,0,0.25);